<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="https://kit.fontawesome.com/040eb06c51.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/styles/code.css">
</head>

<body>
    <div class="container">
        <nav>
            <div class="brand">
                DEV learner
            </div>
            <div class="mob-section">
                <div class="project-list">
                    <a href="">Projects </a>
                </div>
                <div class="playground">
                    <a href="">CodePlay <i class="fa-solid fa-code" style="color: #ffffff;"></i></a>
                </div>
                <div class="1v1">
                    <a href="">1v1</a>
                </div>
                <div class="streak">
                    <a href=""><i class="fa-solid fa-fire" style="color: #ffffff;"></i></a>
                </div>
                <div class="user">
                    <a href="">Guest</a>
                </div>
            </div>
        </nav>
        <div class="content">
            <div class="section-1">
                <div class="upper">
                    <a href="">Description</a>
                    <a href="">Solutions</a>
                    <a href="">Submissions</a>
                </div>
                <div class="middle">
                    <div class="header">
                        <span class="difficulty">Easy</span>
                        <span class="like"><i class="fa-regular fa-thumbs-up" style="color: #ffffff;"></i> 200</span>
                        <span class="dislike"><i class="fa-regular fa-thumbs-down" style="color: #ffffff;"></i> 5</span>
                        <span class="share"><i class="fa-solid fa-share" style="color: #ffffff;"></i></span>
                        <span class="hint"><i class="fa-regular fa-lightbulb" style="color: #ffffff;"></i></span>
                    </div>
                    <div class="question">
                        <span class="ques-no">1.</span>
                        <span class="ques-heading">Creating a main heading for App.</span>
                        <div class="ques-info">You have to center the heading.</div>
                    </div>
                    <div class="example">
                        <div id="ex-editor"></div>
                    </div>
                    <div class="preview">
                        <p>Preview:</p>
                        <iframe src="../ex.html" frameborder="0" height="300"></iframe>
                    </div>
                </div>
                <div class="lower">
                    <div class="problem-list">
                        <span>Problem List <i class="fa-solid fa-list" style="color: #ffffff;"></i></span>
                    </div>
                    <div class="move-btns">
                        <span><i class="fa-solid fa-backward" style="color: #ffffff;"></i> PREV</span>
                        <span>NEXT <i class="fa-solid fa-forward" style="color: #ffffff;"></i></span>
                    </div>
                </div>
            </div>
            <div class="section-2">
                <div class="header">
                    <span>Javascript</span>
                    <span>
                        <span class="reload"><i class="fa-solid fa-rotate-right" style="color: #ffffff;"></i></span>
                        <span class="settings"><i class="fa-solid fa-gear" style="color: #ffffff;"></i></span>
                    </span>
                </div>
                <div id="editor"></div>
                <div class="lower">
                    <div class="console">Console</div>
                    <div class="right">
                        <div class="run-btn">Run</div>
                        <div class="submit-btn">Submit</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.23.0/ace.js"
        integrity="sha512-+jESSLfWnLFLB0xrEnlj3yESiiuuuOnVDcq+HXImWWCB5CBqAnVsmtIZ5GtrNMH0C6gPZoj6n14zJ0iwGYoswQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.23.0/ext-language_tools.min.js"
        integrity="sha512-Thg/+2CD9a62wd9RhUes0dWKbg4Pq90sCXWr5JpKsIiqcW0Km46AbE662jiUI+z441pTYSM8D+/9LOuEscAuIQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/scripts/code.js"></script>
</body>

</html>