<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/040eb06c51.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/styles/ques.css">
</head>
<body>
    <nav>
        <div class="brand">
            DEV learner
        </div>
        <div class="mob-section">
            <div class="project-list">
                <a href="">Projects </a>
            </div>
            <div class="playground">
                <a href="">CodePlay <i class="fa-solid fa-code" style="color: #ffffff;"></i></a>
            </div>
            <div class="1v1">
                <a href="">1v1</a>
            </div>
            <div class="streak">
                <a href=""><i class="fa-solid fa-fire" style="color: #ffffff;"></i></a>
            </div>
            <div class="user">
                <a href="">Guest</a>
            </div>
        </div>
    </nav>
    <div class="head">
        <div class="heading">Calculator</div>
        <div class="frame">
            <iframe src="/ex" frameborder="0"></iframe>
        </div>
        <div class="info">Learn to make a Calculator in the best way possible</div>
    </div>
    <div class="ques-list">
        <div class="ques">
            <div class="ques-no">1</div>
            <div class="ques-heading"> Make a calculator card</div>
            <div class="difficulty">Easy</div>
            <div class="completed">
                <i class="fa-solid fa-circle-check"></i>
            </div>
            <div class="lock">
                <i class="fa-solid fa-lock"></i>
            </div>
        </div>
    </div>
</body>
</html>