* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(26, 26, 26);
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    /* font-family: 'Inter', sans-serif; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
    text-decoration: none;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

nav {
    /* margin: 5px 5px 10px 5px; */
    /* margin-bottom: 5px; */
    background-color: rgb(40, 40, 40);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    height: 8vh;
    font-size: 14px;
    align-items: center;
}

.brand {
    color: white;
    font-size: 1rem;
    height: max-content;
}

.mob-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
}

/* .mob-section div {} */

.mob-section div a {
    color: white;
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 90vh;
    /* flex: 1; */
    gap: 10px;
    height: 100%;
    padding: 10px;
}

/* section-1 */

.section-1 {
    /* margin: 0 0px 20px 20px; */
    background-color: rgb(40, 40, 40);
    /* grid-column-start: 1; */
    /* grid-row-start: 1; */
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    /* flex: 1; */
    overflow: hidden;
}

.section-1 .upper {
    height: 2.25rem;
    display: flex;
    /* justify-content: space-evenly; */
    padding: 0 1rem;
    gap: 1rem;
    align-items: center;
    border-bottom: 1px solid #ccc;
}

.section-1 .upper a {
    color: #eff1f6bf;
    /* margin-right: 1rem; */
    font-size: 12px;
}

.section-1 .upper a:hover {
    color: white;
}

.section-1 .middle {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-top: 10px;
    padding: 10px;
    overflow-y: auto;
}

.section-1 .middle::-webkit-scrollbar {
    background-color: transparent;
    height: 7px;
    width: 7px;
}

.section-1 .middle::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: transparent;
    border-radius: 10px;
}

.section-1 .middle::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
    border-radius: 5px;
}

.section-1 .middle .header span {
    margin-right: 1.5rem;
    color: white;
    font-size: 12px;
}

.difficulty {
    background-color: green;
    color: white;
    padding: 5px;
    border-radius: 5px;
}

.question {
    margin-top: 20px;
    color: white;
}

.question span {
    margin-right: 1rem;
}

.ques-heading {
    font-size: 16px;
}

.ques-info {
    font-size: 14px;
    margin-top: 20px;
    margin-left: 30px;
    white-space: pre-line;
}

/* .code-preview {
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    padding: 10px;
    font-family: monospace;
    white-space: pre-wrap;
  } */

#ex-editor {
    display: absolute;
    margin: 20px;
    width: 80%;
    height: 22vh;
    font-size: 12px;
    border-radius: 5px;
}

/* 
#ex-editor ::selection{
  background-color: transparent !important;
  color: inherit !important;
} */

.preview {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 20px;
    height: 60%;
    width: 80%;
}

.preview p {
    color: white;
    font-size: 12px;
}

iframe {
    border-radius: 5px;
}

.section-1 .lower {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 2.75rem;
    border-top: 1px solid white;
    background-color: #000;
}

.problem-list span {
    background-color: green !important;
}

.move-btns {
    display: flex;
    gap: 1.5rem;
}

.move-btns span {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

.section-1 .lower span {
    display: flex;
    background-color: rgb(26, 26, 26);
    padding: 6px 15px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-size: 13px;
    font-weight: 500;
}

/* section-2 */

.section-2 {
    /* margin: 0 20px 20px 20px; */
    background-color: rgb(40, 40, 40);
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

#editor {
    width: 100%;
    flex-grow: 1;
    font-size: 1rem;
}

/* #editor ::selection,
#editor .ace_selection {
  background-color: transparent !important;
  color: inherit !important;
} */

.ace_scrollbar::-webkit-scrollbar {
    background-color: transparent;
    height: 7px;
    width: 4px;
}

.ace_scrollbar::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: transparent;
    border-radius: 10px;
}

.ace_scrollbar::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
    border-radius: 5px;
}

.section-2>.header {
    /* height: 2.55rem; */
    font-size: 14px;
    /* padding: 10px 20px; */
    color: white;
    display: flex;
    padding: 0.8rem 1rem;
    align-items: center;
    justify-content: space-between;
    /* border-bottom: 1px solid #ccc; */
}

.section-2>.header span {
    display: flex;
    gap: 1rem;
}

.hidden {
    display: none !important;
}

.visible {
    display: flex;
}

.console-area {
    height: 50vh;
    background-color: rgb(26, 26, 26);
    overflow: auto;
    flex-direction: column;
    animation: console 500ms ease forwards;
}

.console-area::-webkit-scrollbar {
    background-color: transparent;
    height: 7px;
    width: 7px;
}

.console-area::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: transparent;
    border-radius: 10px;
}

.console-area::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
    border-radius: 5px;
}

.console-area>.middle {
    /* height: 100%; */
    color: white;
    font-size: 1rem;
    padding: 1rem;
    flex-grow: 1;
}

.console-area .header {
    background-color: rgb(40, 40, 40);
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;
    padding: 0.8rem 1rem;
    font-size: 1rem;
    color: white;
}

.console-area .header span {
    cursor: pointer;
}

.console-area .header span:nth-child(2) span {
    color: green;
}

@keyframes console {
    0% {
        height: 0;
    }

    100% {
        height: 50vh;
    }
}

.console-area .result {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    overflow-y: auto;
}

.console-area .result>span {
    color: rgb(41, 62, 97);
    font-size: 2rem;
    cursor: pointer;
}

.console-area .result iframe {
    height: 100%;
    width: 90%;
}

.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9998;
    width: 100% !important;
    animation: fullscreen 100ms ease forwards;
}

.smallscreenBtn {
    position: absolute;
    right: 6%;
    top: 5px;
}

.fullscreenBtn {
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 9999;
    animation: fullscreen 100ms ease forwards;
}

@keyframes fullscreen {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

.console-area .feedback {
    height: 100%;
    animation: feedback 200ms ease forwards;
    overflow-y: auto;
    white-space: pre-line;
}

@keyframes feedback {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0%);
    }
}

.section-2 .lower {
    display: flex;
    justify-content: space-between;
    /* height: 3.25rem; */
    align-items: center;
    padding: 0.4rem 1rem;
    /* border-top: 1px solid #ccc; */
}

.section-2 .lower div {
    color: white;
    cursor: pointer;
    font-size: 13px;
    padding: 6px 15px;
    border-radius: 5px;
}

.right {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
}

.run-btn,
.console {
    background-color: rgb(26, 26, 26);
}

.submit-btn {
    background-color: green;
}

code {
    background-color: #646161a4;
    border-color: #f7faff1f;
    color: #eff1f6f5;
    border-radius: 5px;
    border-width: 1px;
    line-height: 1rem;
    padding: .125rem;
    white-space: pre-wrap
}

.ques-info ul li {
    margin-left: 1.5rem;
}

/* * {
    color: #F5F5F5;
} */